# Lingkungan Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
env/
.venv/

# Variabel lingkungan asli (berisi kunci rahasia)
.env

# Database lokal (SQLite misalnya)
*.db
*.sqlite3
.sqpbro

# IDE
.vscode/
.idea/

# File temporary/backup
*.bak
*.log

# File testing sementara
.pytest_cache/
test.db               # jika Anda menggunakan database test terpisah
.txt